<mat-nav-list [@slideInOut]="isSidebarOpen ? 'in' : 'out'">
  <div class="menu-name">{{ menu.name }}</div>
  <mat-divider></mat-divider>

  <ng-container *ngFor="let head of menu.heads">
    <ng-container *ngIf="head.roles.includes(userRole)">
      
      <ng-container *ngIf="!head.expandable">
        <a mat-list-item
           [routerLink]="head.link"
           (click)="onMenuClick()"
           [class.active-link]="currentPath === head.link">
          <mat-icon matListIcon>{{ head.icon }}</mat-icon>
          <span class="label-text">{{ head.label }}</span>
        </a>
      </ng-container>

      <ng-container *ngIf="head.expandable">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ head.label }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item
               *ngFor="let detail of head.details"
               [routerLink]="detail.link"
               (click)="onMenuClick()"
               [class.active-link]="currentPath === detail.link">
              <mat-icon matListIcon>{{ detail.icon }}</mat-icon>
              <span class="label-text">{{ detail.label }}</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>

    </ng-container>
  </ng-container>
</mat-nav-list>
