/* Tailwind ต้องมาก่อน เพราะมันจะ reset CSS */
@use "tailwindcss";

@import 'primeicons/primeicons.css';

/* Global custom styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p-card.theme-white {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  padding: 1rem;
  background: #fff;
}

.p-toast {
  z-index: 2000 !important;
}
