/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
/* Tailwind directives removed. Import Tailwind CSS in a plain CSS file or via your build tool. */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* global theme styles */
/* Theme White สำหรับ PrimeNG p-card */
p-card.theme-white {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  padding: 1rem;
  // text-align: center;
  background: #fff;
}

